* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: sans-serif;
  background: #313131;
  color: #e4e4e4;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.25rem;
}

p+p {
  margin: 1rem 0;
}